body{
  height:150%
}

#home-banner{
  background-image:url(http://wallpapercave.com/wp/VCf1lhA.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#darksunrise{
  background-image:url(https://thumbs.dreamstime.com/t/beautiful-sunset-sunrise-over-dark-mountain-panorama-silhouette-65010305.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}




  background-image:url(C:\Users\Admin\Downloads\Jamnik-1-23 (1).jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;

button {
  background-color: Transparent;
  border-color: Transparent;
  border-style: solid;
  color: yellow;
  padding: 17px 85px
  text-align:center;
  text-decoration: none;
  display:inline-block;
  font-size: 37px;
  font-family: 'Princess Sofia';
}
#aboutme{
    margin-top:10px;
    height: 1000px;
    background: url(https://thumbs.dreamstime.com/t/beautiful-sunset-sunrise-over-dark-mountain-panorama-silhouette-65010305.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
