body{
  height:150%
}


/* stars
#home-banner{
  background-image:url(http://wallpapercave.com/wp/VCf1lhA.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
 */
#home-banner{
  background-image: url(WaterViewFishing6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/*<img src="C:\users\home\pictures\picture.png"/>
"C:\Users\Admin\Pictures\Boston Ship View Sun.jpg" */

/*#darksunrise{
  background-image:url(https://thumbs.dreamstime.com/t/beautiful-sunset-sunrise-over-dark-mountain-panorama-silhouette-65010305.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}*/




  background-image:url(C:\Users\Admin\Downloads\Jamnik-1-23 (1).jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;

button {
  background-color: Transparent;
  border-color: Transparent;
  border-style: solid;
  color: yellow;
  padding: 17px 85px
  text-align:center;
  text-decoration: none;
  display:inline-block;
  font-size: 37px;
  font-family: 'Princess Sofia';
}

/*
background: url(https://thumbs.dreamstime.com/t/amazing-sunset-sunrise-sun-over-dark-mountain-ground-silhou-panorama-silhouette-70132069.jpg);
http://www.youwall.com/wallpapers/201404/sunny-mountains-wallpaper.jpg
https://s3.envato.com/files/219702698/Preview%20.jpg
http://il9.picdn.net/shutterstock/videos/4240988/thumb/1.jpg
dark sunrise*/
#darksunrise{
    margin-top:10px;
    height: 1000px;
    background: url(BeachSceneRocks2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#lightsunrise{
    margin-top:10px;
    height: 1000px;
    background: url(BeachSceneSand3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#mediumsunrise{
  margin-top:10px;
  height: 1000px;
  background: url(BostonShipViewSun4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


#clouds{
  margin-top:10px;
  height: 1000px;
  background: url(BostonSunsetBridge3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
